
button{
    background-color: rgb(212, 212, 238);
    border-radius: 2em;
    transition: all 500ms cubic-bezier(0.6, -0.28, .28, .13, 1.12);
}
button:hover {
    background-color: lightblue;
    color: ghostwhite;
    border-radius: 0;
}
button {
    padding: 1em;
    margin: 0.2em;
    font-family: 'Josefina sans';
    font-size: 1.5em;
}
img {
    opacity: 1;
    transition: opacity 2s;
}

img:hover{
    opacity: 1;
}
